/* Add Global Style*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --bg-color: #202123;
  --icon-color: #919599;
  --btn-color: #303135;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, sans-serif;
  background-color: #202123;
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
  position: relative;
  min-height: 1800px;
}

img {
  width: 100%;
}

li {
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #fff;
}
